name: Generate Snake

on:
  # اجرا به صورت اتوماتیک هر 12 ساعت
  schedule:
    - cron: "0 */12 * * *" 
  
  # اجازه اجرا به صورت دستی
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          # نام کاربری گیت‌هاب شما
          github_user_name: DDW-X
          # مسیر خروجی فایل گیف و اس‌وی‌جی
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark

      - name: Push to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
